* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", serif;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  font-weight: 700;
}

/*Musa */

/* Xeyale */

/* Ayxan*/

/* Aqil*/

/* Kamal*/
